html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

#todo {
  width: 100%;
  height: 5%;
}

#menu {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
}

#izquierda {
  display: flex;
  justify-content: flex-end;
}

#derecha {
  display: flex;
  justify-content: flex-end;
  width: 35%;
  align-items: center;
}

#conteni {
  width: 100%;
  height: 90%;
}

.secciones {
  padding-left: 40px;
}
.uno {
  color: #ff9900;
}
a {
  color: inherit;
  text-decoration: inherit;
}

iframe {
  display: flex;
}

#accueil {
  justify-content: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 35px;
}

.linkis{
}

.cen{
  text-align: center;
  color: #000dff;

}

#ensavoir {
  display: flex;
  justify-content: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 35px;
}

#videos {
  display: flex;
  width: 100%;
  height: 50%;
  bottom: 0px;
  justify-content: space-around;
}

h1 {
  font-family: "lucida console";
  font-weight: 100;
}
h2 {
  font-family: "lucida console";
  font-weight: 100;
}
h3 {
  font-family: "lucida console";
  font-size: 26px;
  color: #ff00d9;
  font-weight: 100;
}
h4 {
  font-family: "lucida console";
  font-size: 16px;
  color: #000dff;
  font-weight: 100;
}
p {
  font-family: "lucida console";
  font-size: 22px;
  color: #15ff00;
}

iframe {
  frameborder: "0";
  border: "0";
  cellspacing: "0";
  border-style: none;
  width: 100%;
}
