html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: inherit;
}

.creditos {
  text-align: center;
  font-size: 16px;
  margin: 20px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {

  body {
  }

  #menu {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #izquierda {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    line-height: 40px;
  }

  #derecha {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #conteni {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #contenidos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .secciones {
    margin: 20px;
  }

  .uno {
    color: #ff9900;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    transition: color 0.3s;
    color: rgb(184, 184, 184);
  }

  .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  iframe {
    frameborder: "0";
    border: "0";
    cellspacing: "0";
    border-style: none;
  }

  .link {
    width: 99vw;
    height: calc(99vw * 0.5625);
  }

  #accueil {
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 35px;
    margin: 45px;
  }

  .linkis {
  }

  .cen {
    text-align: center;
    color: #000dff;
  }

  #ensavoir {
    display: flex;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 20px;
  }

  h1 {
    font-family: "Lucida Console", monospace;
    font-weight: 100;
    font-size: 20px;
  }
  h2 {
    font-family: "Lucida Console", monospace;
    font-weight: 100;
  }
  h3 {
    font-family: "Lucida Console", monospace;
    font-size: 20px;
    color: #ff00d9;
    font-weight: 100;
    text-align: center;
  }
  h4 {
    font-family:"Lucida Console", monospace;
    font-size: 14px;
    color: #000dff;
    font-weight: 100;
  }
  p {
    font-family: "Lucida Console", monospace;
    font-size: 15px;
    color: #15ff00;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {


  body {
  }

  #menu {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #izquierda {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    line-height: 40px;
  }

  #derecha {
    display: flex;
    justify-content: center;
    width: 80%;
    align-items: center;
    margin-right: 10px;
  }

  #conteni {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #contenidos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .secciones {
    margin: 20px;
  }

  .uno {
    color: #ff9900;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    transition: color 0.3s;
    color: rgb(184, 184, 184);
  }

  .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  iframe {
    frameborder: "0";
    border: "0";
    cellspacing: "0";
    border-style: none;
  }
  
  .link {
    width: 80vw;
    height: calc(80vw * 0.5625);
  }

  #accueil {
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 35px;
    margin: 45px;
  }

  .linkis {
  }

  .cen {
    text-align: center;
    color: #000dff;
  }

  #ensavoir {
    display: flex;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 35px;
  }

  h1 {
    font-family: "lucida console";
    font-weight: 100;
  }
  h2 {
    font-family: "lucida console";
    font-weight: 100;
  }
  h3 {
    font-family: "lucida console";
    font-size: 26px;
    color: #ff00d9;
    font-weight: 100;
    text-align: center;
  }
  h4 {
    font-family: "lucida console";
    font-size: 16px;
    color: #000dff;
    font-weight: 100;
  }
  p {
    font-family: "lucida console";
    font-size: 22px;
    color: #15ff00;
  }
}

/* Desktop Style */

@media only screen and (min-width: 961px) {
  body {
  }
  #todo {
    width: 100vw;
    height: 100vh;
  }

  #menu {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #izquierda {
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    line-height: 40px;
  }

  #derecha {
    display: flex;
    justify-content: flex-end;
    width: 35%;
    align-items: center;
    margin-right: 10px;
  }

  #conteni {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  #contenidos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .secciones {
    padding-left: 40px;
  }

  .uno {
    color: #ff9900;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    transition: color 0.3s;
    color: rgb(184, 184, 184);
  }

  #accueil {
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 35px;
    margin: 75px;
  }

  .linkis {
  }

  .cen {
    text-align: center;
    color: #000dff;
  }

  #ensavoir {
    display: flex;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 35px;
  }

  .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  
  iframe {
    frameborder: "0";
    border: "0";
    cellspacing: "0";
    border-style: none;
  }
  
  .link {
    width: 49vw;
    height: calc(49vw * 0.5625);
  }

  h1 {
    font-family: "lucida console";
    font-weight: 100;
  }
  h2 {
    font-family: "lucida console";
    font-weight: 100;
  }
  h3 {
    font-family: "lucida console";
    font-size: 26px;
    color: #ff00d9;
    font-weight: 100;
  }
  h4 {
    font-family: "lucida console";
    font-size: 16px;
    color: #000dff;
    font-weight: 100;
  }
  p {
    font-family: "lucida console";
    font-size: 22px;
    color: #15ff00;
  }
}
